.education-area {
  .single-education-box {
    // margin-bottom: 25px;
    background-color: var(--cardColor);
    border-radius: 5px;
    padding: 2% 2%; 
    span {
        color: var(--primaryColor);
        margin-bottom: 12px;
        text-transform: uppercase
    }

    h3 {
      font-size: 20px;
      margin-bottom: 12px;
    }

    p {
        font-size: 15px;
        opacity: 0.9;
    }
  }
}