nav {
  background-color: var(--sectionColor);
  border-bottom: 0.1px solid var(--borderColor);
  .logo-item {
    border-right: 0.1px solid var(--borderColor);
    padding-right: 14px;

    h1 {
      font-family: "Georgia", serif;
      text-transform: uppercase !important;
    }
  }
}
.user-avatar {
   width: 38px; 
  height: 38px; 
  border-radius: 50%;
   color: white; 
   font-weight:400;
    display: flex; 
    justify-content: center;
     align-items: center; 
     text-transform: uppercase; 
     font-size: 16px; 
    }
.user-profile {
  position: relative;

  .user-logout {
    position: absolute;
    z-index: 9999999999999999999999999999;
    top: 100%;
    right: 0;
    margin-top: 0.25rem;
    padding: 0.5rem;
    background-color: var(--cardColor);
    border-radius: 0.375rem;
    color: white;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    pointer-events: none; // منع التفاعل لما مخفي
    transition: opacity var(--transition) ease, visibility var(--transition) ease;

    .log-out {
      cursor: pointer;
      padding: 0.5rem 0;
      display: block;
      transition: background-color var(--transition) ease;

      &:hover {
        background-color: var(--blackColor);
      }
    }
  }

  &:hover {
    .user-logout {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; 
    }
  }
}

.icon-sidebar {
  background-color: var(--inputColor);
  border-radius: 5px;
  cursor: pointer;
}
ul {
    position: absolute;
    z-index: 9999999999999999;
    top: 100%;
    right: 0px;
    transition: transform 0.4s ease;
    padding: 50px 0px;
    width: 20%;
    background-color: var(--sectionColor);
    border-top: 1px solid var(--borderColor);
    border-right: 0.1px solid var(--borderColor);
    height: 100vh;

  li {
    cursor: pointer;
    text-align: center;
    transition: color var(--transition) ease;
    padding: 20px 0px;
    font-size: 18px;
    &:hover {
      color: var(--primaryColor);
    }
  }
}
.active-link {
  color: var(--primaryColor);
}
.cv-link-sidebar,.live-sidebar{
    display: none;
}
.icon-sidebar{
    display: none;
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (max-width: 1300px) {
  ul{
    width: 25%;
    li{
        font-size: 16px;
    }
  }
}
@media screen and (max-width: 1100px) {
    ul {
    position: absolute;
    top: 100%; 
    right: 0;
    height: 100vh;
    width: 35%;
    transform: translateX(100%);

    &.sidebar-open {
      transform: translateX(0);
    }
  }

  .icon-sidebar {
    display: block;
  }
}
@media screen and (max-width: 870px) {
  ul {
    width: 50%;
    li{
        font-size: 14px;
    }
  }
}
@media screen and (max-width: 550px) {
  ul {
    width: 80%;
  }
  .cv-link-sidebar,.live-sidebar{
    display: block;
  }
  .cv-download,.live-port{
    display: none;
  }
}
