

.writing-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.job-title{
  color: transparent;
  -webkit-text-stroke: 0.5px var(--primaryColor);
  background: linear-gradient(to right, var(--primaryColor) 50%, transparent 50%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: change 3s infinite alternate ease-in-out;
}
.availability{
  p{
    border-bottom: 0.1px solid var(--borderColor);
    
  }
}
@keyframes change {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes playvideo {
  0% {
    outline: 2px solid white;
    outline-offset: 0px;
  }
  100% {
    outline-offset: 30px;
    outline: 0px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-playvideo {
  animation: playvideo 2s infinite ease-in-out;
}

.animate-rotate {
  animation: rotate 2s infinite alternate ease-in-out;
}

.animate-zoomIn {
  animation: zoomIn 1s ease;
}