 footer{
 background-color: var(--sectionColor);
 .span-color {
  color: var(--primaryColor);
 }
  a {

    &:hover {
      color: var(--primaryColor);
    }
  }

  input {
    border: none;
    outline: none;
    background-color: var(--inputColor);
  }
button:hover::after{
    height: 0px;
}
}