.experience-area {
  .single-experience-box {
    background-color: var(--cardColor);
    padding: 2% 1%;
    border-radius: 5px;
    span {
        color: var(--primaryColor);
        margin-bottom: 12px;
        text-transform: uppercase
    }
    h3 {
      font-size: 20px;
      margin-bottom: 12px;
    }

    p {
        font-size: 15px;
        opacity: 0.9;
    }
  }
}