.info-nav{
    button{
        background-color: var(--inputColor);
        color: var(--whiteColor);
        text-transform: uppercase;
        font-size: 15px;
        &:hover::after{
            height: 0px;
        }
    }
    .active-link{
        background-color: var(--primaryColor);
        color:var(--blackColor);
    }
}
.info-content{
    background-color: var(--sectionColor);
}