.slider-container {
  background-color: var(--primaryColor);
  color: var(--blackColor);

  h2 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;

    i {
      font-size: 2rem;
    }
  }
  @keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-66.66%); } 
}

.animate-scroll-left {
  animation: scroll-left 14s linear infinite;
}
}
