.header-image{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7px;
    .overley{
        h2{
            font-weight: 700;
        }
    }
    .image-profile{
        transform: translateY(50%);
        img{
            border: 4px solid var(--whiteColor);
        }
    }
}
.add-info{
    width: 80%;
}
@media screen and (max-width: 1300px) {
    .add-info{
        width: 75%;
    }
}
@media screen and (max-width: 1100px) {
    .add-info{
        width: 100%;
    }
}