.add-info{
    width: 80%;
}
@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out;
}
.loading-data{
    z-index: 99999999999999999;
}
.save-data{
    z-index: 99999999999;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    color: var(--primaryColor);
}
@media screen and (max-width: 1300px) {
    .add-info{
        width: 75%;
    }
}
@media screen and (max-width: 1100px) {
    .add-info{
        width: 100%;
    }
}