.header-image{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7px;
    .overley{
        background-color: rgba(17, 226, 209,0.1);
        h2{
            font-weight: 700;
        }
    }
}