@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
:root{
    --primaryColor:#11e2d1;
    --blackColor:#000000;
    --sectionColor:#15161A;
    --cardColor:#1D1D1D;
    --inputColor:#212529;
    --whiteColor:#FFFFFF;
    --borderColor:rgba(17, 226, 209,0.3);
    --fontSize:16px;
    --transition:0.5s;
    --adminColor:#0F172A;
    --adminSectionColor:#1E293B;
    --adminCardColor:#324154;
  }
html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
   overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--blackColor);
    color: var(--whiteColor);
    font: {
        size: var(--fontSize);
    };
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
a{
  text-decoration: none;
  transition: all 0.3s ease-out;
  color:var(--whiteColor);
  display: block;
  &:hover{
  color: var(--primaryColor);
}
}
[appInView] {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.7s ease-out, opacity 1s ease-out;
}
[appInView].show {
  opacity: 1;
  transform: scaleX(1);
}
.from-bottom {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.6s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}
.from-top {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.6s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}


.from-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.6s ease;

  &.show {
    opacity: 1;
    transform: translateX(0);
  }
}
.from-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease;

  &.show {
    opacity: 1;
    transform: translateX(0);
  }
}

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.8s ease;

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}
button{
  background-color: var(--primaryColor);
  color: var(--blackColor);
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  &::after{
  content: "";
  background-color: rgba(0, 0, 0,0.3);
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: all 0.4s;
}
&:hover::after{
  height: 100%;
}
}
.no-after-button{
  &:hover::after{
    height:0px;
  }
}
button:disabled {     
  cursor: not-allowed; 
  font-weight: 600;   
  opacity: 0.5;           
  &:hover::after{
    height: 0px;
  }
}
.circle-button {
  width: 170px;
  height: 170px;
  background-color: var(--primaryColor);
  color: var(--blackColor);
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    top: 3%;
    left: -3%;
    z-index: 1;
    transition: all 0.6s ease;
  }

  &:hover::before {
    top: -10px;
  }
} 
i{
  font-size: 1.2rem;
  cursor: pointer;
}
p{
  font-size: 1.2rem;
    line-height: 1.8;

    &:last-child {
        margin-bottom: 0;
    }
}
.leading-relaxed{
  opacity: 0.7;
}
.span-color{
  color: var(--primaryColor);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 ,label,span{
    text-transform: capitalize;
}
.form-control {
    transition: var(--transition);
    box-shadow: unset !important;
    background-color: var(--inputColor);
    color: var(--whiteColor);
    border: none !important;
    padding-left: 15px;
    font-size: 14.5px;
    border-radius: 5px;
    height: 50px;
  outline: none;
    &::placeholder {
        color: #a7a6a6;
        transition: var(--transition);
    }
    &:focus {
        color: var(--whiteColor);
        background-color: #0c252b;
      outline: none;
        &::placeholder {
            color: transparent;
        }
    }
}
textarea {
    &.form-control {
        // height: auto !important;
        padding-top: 15px;
    }
}
.title-section{
  h2{
  color: var(--primaryColor);
    font-family:Georgia, 'Times New Roman', Times, serif;

  }
 .title-line{
  border-color: var(--primaryColor);
 }
}
.logo-item{
  display: flex;
  align-items: center;
  font-size: 1.8rem;
   cursor: pointer;
  h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
  }
  i{
    color: var(--primaryColor);
    padding-right: 8px;
    font-size: 1.6rem;
  }
}
// projects section
  .work-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 100%;
    .work-image {
      aspect-ratio: 4 / 3;
      overflow: hidden;
      border-radius: 0.375rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    span{
      color: var(--primaryColor);
    }
    .work-icon {
      padding: 0.75rem;
      border-radius: 0.375rem;
      background-color:var(--inputColor);
      transition: all var(--transition) ease;
      i{
        transform: rotate(45deg);
      }
    }
    &:hover .work-icon{
      background-color: var(--primaryColor);
      color: var(--blackColor);
    }
  }
  @media screen and (max-width:950px){
  .circle-button{
    width: 150px;
    height: 150px;
  }
} 
@media screen and (max-width:800px){
  p,li{
    font-size: 1rem;
  }
}
@media screen and (max-width:400px){
 
  .logo-item{
    font-size: 1.5rem;
    i{
      font-size: 1.5rem;
    }
  }
}