@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
:root{
    --primaryColor:#11e2d1;
    --blackColor:#000000;
    --sectionColor:#15161A;
    --cardColor:#1D1D1D;
    --inputColor:#212529;
    --whiteColor:#FFFFFF;
    --borderColor:rgba(17, 226, 209,0.3);
    --fontSize:16px;
    --transition:0.5s;
}
html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--blackColor);
    color: var(--whiteColor);
    font: {
        size: var(--fontSize);
    };
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
a{
  text-decoration: none;
  transition: all 0.3s ease-out;
  color:var(--whiteColor);
  display: block;
  &:hover{
  color: var(--primaryColor);
}
}
button{
  background-color: var(--primaryColor);
  color: var(--blackColor);
  border: 0;
  border-radius: 5px;
  font-size: 1.1rem;
  position: relative;
  &::after{
  content: "";
  background-color: rgba(0, 0, 0,0.3);
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: all 0.4s;
}
&:hover::after{
  height: 100%;
}
}
i{
  font-size: 1.2rem;
  cursor: pointer;
}
p{
  font-size: 1.2rem;
    line-height: 1.8;

    &:last-child {
        margin-bottom: 0;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}
.logo-item{
  display: flex;
  align-items: center;
  font-size: 1.8rem;
   cursor: pointer;
  h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
  }
  i{
    color: var(--primaryColor);
    padding-right: 8px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width:800px){
  p{
    font-size: 1rem;
  }
}
@media screen and (max-width:400px){
  .logo-item{
    font-size: 1.5rem;
    i{
      font-size: 1.5rem;
    }
  }
}