section {
    background-color: var(--sectionColor);
  h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  h3 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
  }
  .span-color{
    color: var(--primaryColor);
  }
}
